$primary-green: #01A65C;
$primary-red: #DD4C39;
$primary-blue: #00C0EF;
$primary-yellow: #f39c10;
$primary-orange: #F66A03;
$primary-rose: #D7395F;
$primary-navy-blue: #001829;
$primary-white-gray: #ECEFF4;

$secondary-green: #02874b;
$secondary-red: #a03b2d;
$secondary-blue: #009dc4;
$secondary-yellow: #cd830d;
$secondary-orange: #c45200;
$secondary-rose: #a42542;
$secondary-navy-blue: #000b13;
$secondary-white-gray: #f0f0f1b5;


.green {
    background-color: $primary-green;
}

.blue {
    background-color: $primary-blue;
}

.red {
    background-color: $primary-red;
}

.yellow {
    background-color: $primary-yellow;
}

.dark-green {
    background-color: $secondary-green;
}

.dark-blue {
    background-color: $secondary-blue;
}

.dark-red {
    background-color: $secondary-red;
}

.dark-yellow {
    background-color: $secondary-yellow;
}

.border-green {
    border: 2px solid $primary-green;
}

.border-blue {
    border: 2px solid $primary-blue;
}

.border-red {
    border: 2px solid $primary-red;
}

.border-yellow {
    border: 2px solid $primary-yellow;
}

.border-red {
    border: 2px solid $primary-red;
}

.border-black {
    border: 2px solid rgb(0, 0, 0);
}


$primary_gradient: linear-gradient(90deg, rgba(5, 34, 56, 1) 0%, rgba(5, 34, 56, 0.4962359943977591) 50%, rgba(5, 34, 56, 1) 100%);



.success {
    background-color: #218838;
}

.danger {
    background-color: #C82333;
}

.warning {
    background-color: #E0A800;
}

.fail {
    background-color: #5A6268
}
