@import "./colorSchema";

.changePassword-container {
    padding: 20px;

    .changePassword-header {
        font-family: 'Times New Roman',
            Times,
            serif;
    }

    .changePassword-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background: white;
        border-radius: 10px;
        box-shadow: 8px 10px 10px 0px rgba(0, 0, 0, 0.64);
        width: 90%;
        margin: auto;


        .changePassword-area {
            width: 60%;
            padding: 30px 0;

            .changePassword-label {
                font-family: 'Times New Roman',
                    Times,
                    serif;
                font-size: 22px;
                margin: 5px 0px;
            }

            .changePassword-formControl {
                width: 90%;

                .changePassword-input {
                    border-radius: 10px;
                    padding: 0px 10px;
                    width: 100%;
                    border: 1px solid black;

                    &:hover,
                    &:active,
                    &:focus {
                        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.64);
                    }
                }

                .MuiInput-underline:before,
                .MuiInput-underline:after {
                    border-bottom: none !important;
                }

                .changePassword-eyeIcon {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    right: 15px;
                    top: 5px;
                }

                .helperTextNoMatch {
                    color: red;
                }

                .helperTextYes {
                    color: green;
                }
            }

            .changePassword-btn {

                border-radius: 10px;
                width: 30%;
                color: white;
                padding: 5px 0;
                border: none;
                margin: 10px;
            }

            .valid {
                background: $primary-blue;

                &:hover,
                &:active,
                &:focus {
                    background: $secondary-blue;
                    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.64);
                }
            }

            .notValid {
                background: #02cdf5bb;
            }
        }

        .changePassword-restrictions {
            width: 20%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;

            .changePasswordIcon {
                width: 80px;
                height: 80px;
                margin: 10px auto;
            }

            h3 {
                font-size: 16px;
                font-weight: bold;
            }

            .newpassword-restrictions {
                font-size: 14px;
                letter-spacing: 0.04em;
                color: red;
            }

            .newpassword-restrictionsValid {
                font-size: 14px;
                letter-spacing: 0.04em;
                color: green;
                text-decoration: line-through;
            }
        }
    }
}