@import "./colorSchema";

.coverage-title{
    color: $secondary-blue;
    font-size: 40px;
    position:relative;
    top:55px;
    left:60px;
}

.line{
    border-bottom: 1px solid $secondary-blue;
    position: relative;
    top:55px;
    width: 85%;
    left:60px;
    height: 10px;
    // min-width: 96%;
}

.table-page-style{
    border-radius: 15px;
    width: 99.6%;
    height: 660px;
    // // min-width:25%;
    position:relative;
    // top:10px;
    // left:60px;
    background-color: #f3fdff;
}

.table-container{
    background-color:white;
    border-radius: 10px;
    border: 2px solid #e3fbff;
    // width: 500px;
    // height: 180px;
    min-width: 30%;
    width: 50%;
    height: 40%;
    position:relative;
    top:100px;
    left:60px;
}

.table-style {
    background-color: white;
    min-width:30%;
    // border-radius: 5px;
    height: 92.5%;
    top: 7.75px;
    left: 10.5px;
    width:96%;
    position: relative;
}

// .head{
//     // background-color: $primary-blue;
//    color: white;
// }

.MuiTableCell-root.MuiTableCell-head{
    color:white;
}