@import './colorSchema';

.navbar {
    background-color: #343434;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 3px;
    z-index: 999;
    border-top: none;
    border-bottom-right-radius: 12px;

    // background: rgb(91, 91, 91);
    // background: linear-gradient(270deg, rgba(91, 91, 91, 1) 0%, rgba(29, 29, 29, 1) 96%);

    // background: rgb(0, 24, 41);
    // background: linear-gradient(90deg, rgba(0, 24, 41, 1) 36%, rgba(71, 71, 71, 1) 94%);

    .profile-icon {
        margin-left: 10px;
        width: 40px;
        height: 40px;
    }

    .navbar-name {
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 22px;
        margin-left: 10px;
        vertical-align: middle;
    }

    .nav-logo {
        position: absolute;
        left: 43%;
        width: 100px;
        height: 40px;
        margin: 0 auto;
    }

    .logout-icon {
        position: fixed;
        right: 10px;
        width: 40px;
        height: 30px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 380px) {
    .navbar {
        .profile-icon {
            width: 35px;
            height: 35px;
        }

        .navbar-name {
            margin-left: 5px;

            font-size: 16px;
        }

        .logout-icon {
            position: fixed;
            width: 30px;
            height: 20px;
        }
    }
}

@media only screen and (max-width: 300px) {
    .navbar {
        .navbar-name {
            font-size: 14px;
        }

        .logout-icon {
            width: 20px;
            height: 20px;
        }
    }
}